<?xml version="1.0" encoding="UTF-8"?>
<!-- collection of objects -->
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean id="jio" class="com.example.Jio">
   <property name="signal" value="Strong"> </property>
   </bean>
   
   <bean id="aircel" class="com.example.Aircel">
   <constructor-arg name="signal" value="weak"></constructor-arg>
   </bean>

</beans>
   
   