<!-- app.component.html -->
<div>
  <h2>Angular Navigation Bar</h2>
  <nav>
    <a routerLink="/classstylebinding">ClassStyleBinding</a>
    <a routerLink="/directives">Directives</a>
    <a routerLink="/eventbinding">EventBinding</a>
    <a routerLink="/formsvalidation">FormsValidation</a>
    <a routerLink="/pipes">Pipes</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/propertybinding">PropertyBinding</a>
    <a routerLink="/twowaybinding">TwoWayBinding</a>
  </nav>
  <router-outlet></router-outlet>
</div>
