<!-- Experiences Section -->
<div id="experiences" class="experiences-section">
  <div class="container">
    <div class="row">

      <!-- Experience 1 -->
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Crypto Intern at <strong style="color: darkorange;">Bharat Electronics Limited</strong>
                </h5>
                <p class="card-text">
                  Demonstrated expertise in Bitcoin and Ethereum, navigating
                  blockchain evolution with proficiency in proof-of-work and
                  proof-of-stake consensus. My role involved a deep
                  understanding of NFTs and their impact in art, gaming, and
                  entertainment.
                </p>
                <p class="card-text">
                  <small class="text-muted">Duration: Apr 2022 - May 2022</small>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/assets/BEL.jpg"
                class="card-img-top"
                alt="Bharat Electronics Limited Logo"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Experience 2 -->
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  UI/UX Designer at <strong style="color: darkorange;">Hydrasoft Technology</strong>
                </h5>
                <p class="card-text">
                  Developed an incentivized scrap management interface, designed
                  on Figma, and implemented a local recycling process. Managed
                  data storage using MongoDB for scalability. Key role in the
                  successful execution of the waste management system.
                </p>
                <p class="card-text">
                  <small class="text-muted">Duration: Aug 2018 - Jul 2022</small>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/assets/HT.jpg"
                class="card-img-top"
                alt="Hydrasoft Technology Logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
