<!-- Projects Section -->
<div id="projects" class="projects-section">
  <div class="container">
    <div class="row">

      <!-- Project 1 -->
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Fire Detection System Using GSM</h5>
                <p class="card-text">
                  Explored fire alert system, combining Arduino Uno, GSM Module
                  Communication System, and C++ programming. Swiftly detect fire
                  incidents and receive instant SMS or call alerts. This
                  proactive approach aids in preventing severe damage to
                  properties and potentially saving lives; property owners can
                  take swift action to address fire incidents promptly. The
                  system also includes real-time monitoring capabilities.
                </p>
                <a
                  href="https://github.com/Naresh-Rao-SS/Fire-Alert-System-Using-GSM-Module"
                  class="btn btn-primary"
                >View Project</a>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/assets/fire.jpg"
                alt="Fire Detection System"
                class="img-fluid full-size-image"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  The Magic Box Unveiled: Analyzing Blog Performance with Power
                  BI
                </h5>
                <p class="card-text">
                  Creating Power BI dashboards with charts, graphs, and tables
                  to illustrate data. Extracting and analyzing data from
                  "https://imaginemagicbox.blogspot.com/" to gain insights into
                  user behavior and content performance. Pulling metrics like
                  pageviews, unique pageviews, time on page, bounce rate, and
                  visitor demographics for meaningful insights.
                </p>
                <a
                  href="https://github.com/Naresh-Rao-SS/The-Magic-Box-Unveiled-Analyzing-Blog-Performance-with-Power-BI"
                  class="btn btn-primary"
                >View Project</a>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/assets/dataset.jpg"
                alt="Magic Box Analysis"
                class="img-fluid full-size-image"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Train Smart Eat Smart UI/UX Design</h5>
                <p class="card-text">
                  The UI/UX design of the fitness and nutrition revolves around
                  catering to individual preferences and style. The color scheme,
                  typography, and overall aesthetics align with users' personal
                  tastes, creating a visually engaging and enjoyable experience.
                  This design prioritizes ease of use with intuitive navigation.
                  Clear labels and recognizable icons ensure seamless interaction
                  for a user-friendly experience.
                </p>
                <a
                  href="https://www.figma.com/file/kvTM72nDfYA8wiwgtFM6fu/Train-Smart-Eat-Smart?type=design&node-id=0-1&mode=design&t=xnYboHrZTvBk9GBx-0"
                  class="btn btn-primary"
                >View Project</a>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/assets/design.jpg"
                alt="Train Smart Eat Smart"
                class="img-fluid full-size-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
